<!DOCTYPE html>
<html>
<head><title>Group5</title>
    <link rel="stylesheet" href="initialStyle.css">
    <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/32927890?v=4">
</head>
<body>
<ul class="headerBar">
    <li class="li">Welcome to the Group 5</li>
    <form action="/" method="POST">
        <input class="li active button" type="submit" value="Home" name="add">
    </form>
    <form action="/graph" method="POST">
        <input class="li button" type="submit" value="Commits/Month" name="add">
    </form>
    <form action="/lines" method="POST">
        <input class="li button" type="submit" value="Lines Added By User" name="add">
    </form>
</ul>
<body style="background-color:#C0C0C0;">
<div class="main">
    <h3> 
    <font size = '22' face= 'arial' color='black'>  
    <u>
    <align = "center">Welcome to Group 5's SWENG Assignment 3</h3>
    </font>
    </u>
    <p> 
    <align = "center">Our project visualises data from the Linux Repo to provide data on developer effectiveness<h3 style="background-color:lightgrey;">
    <p style="background-color:lightskyblue;">
    </p>
    <center>
    <img src="https://www.just-food.com/wp-content/uploads/sites/28/2021/06/industry-2630319_1920-e1640023057878-1038x778.jpg" alt="Group" width="450" height="320">
    </center>
</div>
<div class="footer">
    <p> </font>RUAIRI DONAGHEY, SHANE GILLIGAN, LAURA GOLEC, PADDI HUA,
    YEVA HUSEVA, KEVIN MORLEY, ANNELEE O MAHONY</p></div>
</body>
</html>
